{% extends 'base.html.twig' %}

{% block title %}Krizalid | {{ activity.title }}{% endblock %}
{% block description %}{{ activity.description|striptags }}{% endblock %}

{% block body_attributes %}class="body-home"{% endblock %}

{% block navbar %}
    {% include 'partial/_navbar.html.twig' with {'activitySlug': activity.slug, 'simulationToken': simulationToken} %}
{% endblock %}

{% block body %}
    <main class="home" {{ react_component('HomePage', { 'simulationId': simulationId, 'simulationToken': simulationToken, 'activityData': activity|serialize('json', {'groups': 'activity_read'})|raw, 'isAdminActivityContext': app.user and 'ROLE_ADMIN' in app.user.roles and simulationToken is same as('default') }) }}>
    </main>
{% endblock %}
