{% extends 'base.html.twig' %}

{% block title %}Profits | Simulateur - Comment devenir indépendant ?{% endblock %}

{% block body %}
    <main {{ react_component('ProfessionalIncomesPage', { 'simulationId': simulationId }) }}>
    </main>
{% endblock %}
