{% extends 'base.html.twig' %}

{% block title %}Krizalid | Profits{% endblock %}

{% block body %}
	<main {{ react_component('ProfessionalIncomesPage', { 'simulationId': simulationId }) }}>
        <h1 class="title-1 hidden-mobile">Profits</h1>
        <section aria-labelledby="profits" class="table">
            <h2 class="table-title" id="profits">Profits par mois</h2>
            <p id="table-caption" class="table-caption">Combien je vais vendre de produits ou services par mois</p>
            <table aria-labelledby="table-caption">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>janv.</th>
                        <th>févr.</th>
                        <th>mars</th>
                        <th>avr.</th>
                        <th>mai</th>
                        <th>juin</th>
                        <th>juil.</th>
                        <th>août</th>
                        <th>sept.</th>
                        <th>oct.</th>
                        <th>nov.</th>
                        <th>déc.</th>
                        <th>Total ANNUEL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="is-editable is-loading is-l-70">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°1</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">50</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">65</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">70</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">82</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">90</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">100</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">110</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">120</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">130</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">140</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">150</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">160</span>
                        </td>
                        <td class="is-loading is-l-right is-l-50">1267</td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="is-editable is-loading is-l-65">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°2</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">40</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">50</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">60</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">70</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">80</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">90</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">100</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">110</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">120</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">130</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">140</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">150</span>
                        </td>
                        <td class="is-loading is-l-right is-l-50">1510</td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="is-editable is-loading is-l-70">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°3</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">30</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">40</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">50</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">60</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">70</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">80</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">90</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">100</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">110</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">120</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">130</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">140</span>
                        </td>
                        <td class="is-loading is-l-right is-l-50">1020</td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="is-editable is-loading is-l-75">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°4</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">20</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">30</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">40</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">50</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">60</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">70</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">80</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">90</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">100</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">110</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">120</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">130</span>
                        </td>
                        <td class="is-loading is-l-right is-l-50">780</td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="is-editable is-loading is-l-60">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°5</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">10</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">20</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">30</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">40</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">50</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">60</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">70</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">80</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">90</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">100</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">110</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">120</span>
                        </td>
                        <td class="is-loading is-l-right is-l-50">690</td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>CA HT</th>
                        <th class="is-loading is-l-right is-l-70">1 300,00 €</th>
                        <th class="is-loading is-l-right is-l-75">1 680,00 €</th>
                        <th class="is-loading is-l-right is-l-70">1 960,00 €</th>
                        <th class="is-loading is-l-right is-l-70">2 310,00 €</th>
                        <th class="is-loading is-l-right is-l-75">2 620,00 €</th>
                        <th class="is-loading is-l-right is-l-75">2 950,00 €</th>
                        <th class="is-loading is-l-right is-l-70">3 280,00 €</th>
                        <th class="is-loading is-l-right is-l-75">3 610,00 €</th>
                        <th class="is-loading is-l-right is-l-70">3 940,00 €</th>
                        <th class="is-loading is-l-right is-l-75">8 340,00 €</th>
                        <th class="is-loading is-l-right is-l-70">4 600,00 €</th>
                        <th class="is-loading is-l-right is-l-75">4 930,00 €</th>
                        <th class="is-loading is-l-right is-l-80">41 520,00 €</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <figure>
                <figcaption id="profits-total-annual">CA HT total Année 1</figcaption>
                <span class="btn-secondary btn-s btn-cancel is-loading is-l-80" aria-labelledby="profits-total-annual">+ 41 520,00 €</span>
            </figure>
        </section>
        <section aria-labelledby="products" class="table">
            <h2 class="table-title" id="products">Prix de mes produits</h2>
            <p id="table-caption" class="table-caption">À quel prix vais-je vendre chacun de ces produits ou services ?</p>
            <table aria-labelledby="table-caption">
                <thead>
                    <tr>
                        <th>Intitulé</th>
                        <th>Coût unitaire*</th>
                        <th>Prix de vente HT</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="is-editable is-loading is-l-65">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°1</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">4,00 €</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">10,00 €</span>
                        </td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="is-editable is-loading is-l-75">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°2</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">5,00 €</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">11,00 €</span>
                        </td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="is-editable is-loading is-l-70">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°3</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">6,00 €</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">12,00 €</span>
                        </td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="is-editable is-loading is-l-60">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°4</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">7,00 €</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">13,00 €</span>
                        </td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="is-editable is-loading is-l-70">
                            <span tabindex="0" role="button" aria-label="Edit">
                                <h3>Produit ou service n°5</h3>
                            </span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-30">
                            <span tabindex="0" role="button" aria-label="Edit">8,00 €</span>
                        </td>
                        <td class="is-editable is-loading is-l-right is-l-35">
                            <span tabindex="0" role="button" aria-label="Edit">14,00 €</span>
                        </td>
                        <td>
                            <button type="button" aria-label="Supprimer Item" class="btn-delete"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="complementary" role="complementary">
                <p class="asterisk-legend-text" aria-label="Explication de l'astérisque">* Facultatif :
                    <br/>
                    Précisez ici le montant HT coutant la réalisation de ce produit ou service</p>
                <button aria-label="Ajouter Item" class="btn-tertiary btn-s">+ ajouter</button>
            </div>
        </section>
	</main>
{% endblock %}
