{% extends 'base.html.twig' %}

{% block title %}Charges | Simulateur - Comment devenir indépendant ?{% endblock %}

{% block body %}
    <main {{ react_component('ProfessionalExpensesPage', { 'simulationId': simulationId }) }}>
    </main>
{% endblock %}
