parameters:
    level: max
    paths:
        - src
        - tests

    checkGenericClassInNonGenericObjectType: false

    # exceptions:
    #     check:
    #         missingCheckedExceptionInThrows: true
    #         tooWideThrowType: true
    #     uncheckedExceptionClasses:
    #         - 'RuntimeException'
    #         - 'LogicException'
    #         - 'Error'

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: phpstan/console-application.php

    excludePaths:
        - */var/cache/*
        - */vendor/*

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
