{% extends 'base.html.twig' %}

{% block title %}New Simulation{% endblock %}

{% block body %}
    <h1>Create new Simulation</h1>

    {{ include('simulation/_form.html.twig') }}

    <a href="{{ path('app_simulation_index') }}">back to list</a>
{% endblock %}
