{% extends 'base.html.twig' %}

{% block title %}Krizalid | Mentions Légales{% endblock %}

{% block body_attributes %}class="body-layout-bicolor"{% endblock %}

{% block body %}
<main class="layout-bicolor">
    <div class="title-description-zone n-pb">
        <h1 class="title-1">Mentions Légales</h1>
    </div>
    <div class="bloc-zone">
        <p class="sub-title"><strong>Éditeur du site :</strong></p>
        <p>Nom : Julien CLEMENT<br>
        Adresse : 123 Rue de la République, 69000 Lyon, France<br>
        Contact : <a href="https://www.linkedin.com/in/julien-clement-0a514319">linkedin</a><br>
        Téléphone : +33 1 23 45 67 89</p>

        <p class="sub-title"><strong>Hébergement :</strong></p>
        <p>OVH Cloud<br>
        2, rue Kellermann, 59100 Roubaix.<br>

        <p class="sub-title"><strong>Conditions d'utilisation :</strong></p>
        <p>Le site accessible par les url suivants : www.example.com est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par Julien CLEMENT.</p>

        <p class="sub-title"><strong>Responsabilité :</strong></p>
        <p>Les informations contenues sur ce site sont aussi précises que possible et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler, en décrivant le problème de la manière la plus précise possible.</p>

        <p class="sub-title"><strong>Confidentialité :</strong></p>
        <p>Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.</p>

        <p class="sub-title"><strong>Propriété intellectuelle :</strong></p>
        <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>
    </div>
</main>
{% endblock %}
