{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - Krizalid{% endblock %}

{% block body_attributes %}class="body-layout-bicolor"{% endblock %}

{% block body %}
<main class="layout-bicolor">
    <div class="title-description-zone n-pb">
        <h1 class="title-1">Mentions Légales</h1>
    </div>
    <div class="bloc-zone">
        <p class="sub-title"><strong>Éditeur du Site</strong></p>
        <p>Le site internet accessible à l'adresse URL
            <a href="https://krizalid.fr/" rel="noopener noreferrer" target="_blank">https://krizalid.fr/</a>
            (ci-après le "Site") est édité par Monsieur Julien CLEMENT. Pour toute communication, Monsieur CLEMENT peut être contacté via son profil LinkedIn :
            <a href="https://www.linkedin.com/in/julien-clement-0a514319/" rel="noopener noreferrer" target="_blank">Julien CLEMENT sur LinkedIn</a>.
        </p>

        <p class="sub-title"><strong>Hébergeur du site</strong></p>
        <p>Le Site est hébergé par la société OVH, dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix, France.</p>

        <p class="sub-title"><strong>Utilisation des cookies</strong></p>
        <p>Le Site utilise des cookies afin de permettre aux utilisateurs de retrouver les données qu'ils auront modifiées et personnalisées, ainsi que pour réaliser des statistiques d'utilisation du simulateur. Les utilisateurs ont la possibilité de supprimer les cookies installés lors de leur visite sur le Site en utilisant les fonctionnalités de la barre d’outils de leur navigateur. La suppression des cookies doit intervenir une fois la navigation sur le Site terminée. À défaut, l'utilisateur est informé que l'usage du Site et des services qui y sont proposés pourra être perturbé, voire empêché.</p>
        <p>Les utilisateurs peuvent exprimer leurs consentements en acceptant ou refusant les cookies via le module dédié en bas à gauche de leur écran (service proposé par CookieYes).</p>

        <p class="sub-title"><strong>Traitement des données personnelles</strong></p>
        <p>Les informations collectées sur le Site sont exclusivement destinées au traitement des simulations effectuées par les utilisateurs. Conformément à la loi n° 78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés, l'utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données personnelles le concernant. Pour exercer ce droit, l'utilisateur peut contacter l'éditeur du Site par courrier électronique à l'adresse suivante :
            <a href="mailto:bonjour@krizalid.fr" rel="noopener noreferrer" target="_blank">bonjour@krizalid.fr</a>.
        </p>
        <p>Pour de plus amples informations sur la protection des données personnelles, les utilisateurs sont invités à consulter le site de la CNIL :
            <a href="http://www.cnil.fr/" rel="noopener noreferrer" target="_blank">www.cnil.fr</a>.
        </p>

        <p class="sub-title"><strong>Limitation de Responsabilité</strong></p>
        <p>Les données et informations fournies par le simulateur sur le Site sont mises à disposition des utilisateurs à titre gratuit. Ces informations proviennent de sources extérieures et ne sont pas garanties par l'éditeur quant à leur absence d'erreurs, leur exhaustivité, leur actualité ou leur exactitude. Par conséquent, il appartient à l'utilisateur de vérifier et d'utiliser les informations disponibles sur le Site à ses propres risques et sous sa responsabilité exclusive.</p>

        <p class="sub-title"><strong>Propriété intellectuelle</strong></p>
        <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>

        <p class="sub-title"><strong>Contact</strong></p>
        <p>Pour toute question ou demande d'information, l'utilisateur peut contacter l'éditeur du Site par courrier électronique à l'adresse suivante :
            <a href="mailto:bonjour@krizalid.fr" rel="noopener noreferrer" target="_blank">bonjour@krizalid.fr</a>.
        </p>
    </div>
</main>
{% endblock %}
