{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <div>
        <a class="btn-primary btn-l btn-cancel" href="#" disabled>Bouton très large</a>
        <button class="btn-primary btn-l btn-cancel" type="button" disabled>Bouton très large</button>

        <a class="btn-primary btn-l" href="#">Bouton très large</a>
        <button class="btn-primary btn-l" type="button">Bouton très large</button>

        <a class="btn-secondary btn-l btn-cancel" href="#" disabled>Bouton très large</a>
        <button class="btn-secondary btn-l btn-cancel" type="button" disabled>Bouton très large</button>

        <a class="btn-secondary btn-l" href="#">Bouton très large</a>
        <button class="btn-secondary btn-l" type="button">Bouton très large</button>

        <a class="btn-primary btn-s" href="#">Bouton d'action</a>
        <button class="btn-primary btn-s" type="button">Bouton d'action</button>

        <a class="btn-secondary btn-s" href="#">Bouton d'action</a>
        <button class="btn-secondary btn-s" type="button">Bouton d'action</button>

        <a class="btn-secondary btn-s btn-success" href="#">Bouton d'action</a>
        <button class="btn-secondary btn-s btn-success" type="button">Bouton d'action</button>

        <a class="btn-primary btn-s btn-success" href="#">+ 1 320,00 €</a>
        <button class="btn-primary btn-s btn-success" type="button">+ 1 320,00 €</button>

        <a class="btn-primary btn-s btn-success" href="#"> <span class="btn-financial-value"><span class="btn-icon">👍</span>+ 1 320,00 €</span></a>
        <button class="btn-primary btn-s btn-success" type="button"><span class="btn-financial-value"><span class="btn-icon">👍</span>+ 1 320,00 €</span></button>

        <a class="btn-primary btn-s btn-danger" href="#">- 5 880,00 €</a>
        <button class="btn-primary btn-s btn-danger" type="button">- 5 880,00 €</button>

        <a class="btn-primary btn-s btn-danger" href="#"><span class="btn-financial-value"><span class="btn-icon">👎</span>- 5 880,00 €</span></a>
        <button class="btn-primary btn-s btn-danger" type="button"><span class="btn-financial-value"><span class="btn-icon">👎</span>- 5 880,00 €</span></button>

        <a class="btn-tertiary btn-s" disabled href="#">Bouton d'action</a>
        <button class="btn-tertiary btn-s" disabled type="button">Bouton d'action</button>

        <a class="btn-primary btn-s btn-success "  href="#">Bouton d'action</a>
        <button class="btn-primary btn-s btn-success" type="button">Bouton d'action </button>

        <a class="btn-primary btn-s btn-success" href="#" disabled>Bouton d'action</a>
        <button class="btn-primary btn-s btn-success" type="button" disabled>Bouton d'action </button>

        <a class="btn-primary btn-l btn-fv" href="#">
            <span class="btn-financial-value">2 000</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">net / mois</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
                    <path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
                        c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
                        C37.7,25.8,37.7,24.2,36.8,23.2z"/>
                </svg>
            </span>
        </a>
        <button class="btn-primary btn-l btn-fv" type="button">
            <span class="btn-financial-value">2 000</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">net / mois</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
                <path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
                    c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
                    C37.7,25.8,37.7,24.2,36.8,23.2z"/>                </svg>
            </span>
        </button>

        <a class="btn-primary btn-xl" href="#">
            <span class="btn-financial-value">2 000</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">net par mois</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
                    <path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
                        c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
                        C37.7,25.8,37.7,24.2,36.8,23.2z"/>
                </svg>
            </span>
        </a>
        <button class="btn-primary btn-xl" type="button">
            <span class="btn-financial-value">2 000</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">net par mois</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
<path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
	c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
	C37.7,25.8,37.7,24.2,36.8,23.2z"/>                </svg>
            </span>
        </button>

        <a class="btn-primary btn-xl btn-danger" href="#">
            <span class="btn-financial-value"><span class="btn-icon">👎</span>- 5 000</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">/ an</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
<path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
	c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
	C37.7,25.8,37.7,24.2,36.8,23.2z"/>                </svg>
            </span>
        </a>
        <button class="btn-primary btn-xl btn-danger" type="button">
            <span class="btn-financial-value"><span class="btn-icon">👎</span>- 5 000</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">/ an</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
<path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
	c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
	C37.7,25.8,37.7,24.2,36.8,23.2z"/>                </svg>
            </span>
        </button>

        <a class="btn-primary btn-xl btn-success" href="#">
            <span class="btn-financial-value"><span class="btn-icon">👍</span>+ 27 770</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">/ an</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
<path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
	c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
	C37.7,25.8,37.7,24.2,36.8,23.2z"/>                </svg>
            </span>
        </a>
        <button class="btn-primary btn-xl btn-success" type="button">
            <span class="btn-financial-value"><span class="btn-icon">👍</span>+ 27 770</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">/ an</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
<path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
	c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
	C37.7,25.8,37.7,24.2,36.8,23.2z"/>                </svg>
            </span>
        </button>

        <a class="btn-primary btn-xl btn-success" disabled href="#">
            <span class="btn-financial-value"><span class="btn-icon">👍</span>+ 27 770</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">/ an</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
<path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
	c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
	C37.7,25.8,37.7,24.2,36.8,23.2z"/>                </svg>
            </span>
        </a>
        <button class="btn-primary btn-xl btn-success" disabled type="button">
            <span class="btn-financial-value"><span class="btn-icon">👍</span>+ 27 770</span>
            <span class="btn-financial-currency">€</span>
            <span class="btn-financial-period">/ an</span>
            <span class="btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
<path d="M36.8,23.2l-20-20c-0.5-0.5-1.1-0.8-1.8-0.8c-1,0-1.9,0.6-2.3,1.6c-0.4,0.9-0.2,2,0.6,2.7L31.5,25L13.2,43.2
	c-0.7,0.6-0.9,1.6-0.7,2.4c0.2,0.9,0.9,1.6,1.8,1.8c0.2,0.1,0.4,0.1,0.6,0.1c0.7,0,1.3-0.3,1.8-0.8l20-20
	C37.7,25.8,37.7,24.2,36.8,23.2z"/>                </svg>
            </span>
        </button>
    </div>

<h1>Mentions Légales</h1>

<p><strong>Éditeur du site :</strong></p>
<p>Nom : Julien CLEMENT<br>
Adresse : 123 Rue de la République, 69000 Lyon, France<br>
Email : <a href="mailto:contact@julien-clement.com">contact@julien-clement.com</a><br>
Téléphone : +33 1 23 45 67 89</p>

<p><strong>Hébergement :</strong></p>
<p>Nom de l'hébergeur<br>
Adresse de l'hébergeur<br>
Téléphone de l'hébergeur</p>

<p><strong>Conditions d'utilisation :</strong></p>
<p>Le site accessible par les url suivants : www.example.com est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par Julien CLEMENT.</p>

<p><strong>Responsabilité :</strong></p>
<p>Les informations contenues sur ce site sont aussi précises que possible et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email, à l'adresse contact@julien-clement.com, en décrivant le problème de la manière la plus précise possible.</p>

<p><strong>Confidentialité :</strong></p>
<p>Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.</p>

<p><strong>Propriété intellectuelle :</strong></p>
<p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>

{% endblock %}
