{% extends 'base.html.twig' %}

{% block title %}Protection des Données Personnelles{% endblock %}

{% block body %}
<h1>Protection des Données Personnelles</h1>

<p><strong>Collecte des informations personnelles :</strong></p>
<p>Nous collectons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à votre compte, faites un achat, participez à un concours, et/ou lorsque vous vous déconnectez. Les informations recueillies incluent votre nom, votre adresse e-mail, numéro de téléphone, et/ou carte de crédit.</p>

<p><strong>Utilisation des informations :</strong></p>
<p>Toutes les informations que nous recueillons auprès de vous peuvent être utilisées pour :</p>
<ul>
    <li>Personnaliser votre expérience et répondre à vos besoins individuels</li>
    <li>Fournir un contenu publicitaire personnalisé</li>
    <li>Améliorer notre site</li>
    <li>Améliorer le service client et vos besoins de prise en charge</li>
    <li>Vous contacter par e-mail</li>
    <li>Administrer un concours, une promotion, ou une enquête</li>
</ul>

<p><strong>Confidentialité des informations :</strong></p>
<p>Nous sommes les seuls propriétaires des informations recueillies sur ce site. Vos informations personnelles ne seront pas vendues, échangées, transférées, ou données à une autre société pour n'importe quelle raison, sans votre consentement, en dehors de ce qui est nécessaire pour répondre à une demande et/ou transaction, comme par exemple pour expédier une commande.</p>

<p><strong>Divulgation à des tiers :</strong></p>
<p>Nous ne vendons, n'échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site Web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.</p>

<p><strong>Protection des informations :</strong></p>
<p>Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin d'effectuer un travail spécifique (par exemple, la facturation ou le service client) ont accès aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.</p>

<p><strong>Se désabonner :</strong></p>
<p>Nous utilisons l'adresse e-mail que vous fournissez pour vous envoyer des informations et mises à jour relatives à votre commande, des nouvelles de l'entreprise de façon occasionnelle, des informations sur des produits liés, etc. Si à n'importe quel moment vous souhaitez vous désinscrire et ne plus recevoir d'e-mails, des instructions de désabonnement détaillées sont incluses en bas de chaque e-mail.</p>

<p><strong>Consentement :</strong></p>
<p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>

{% endblock %}
