{% extends 'base.html.twig' %}

{% block title %}Admin Accueil | Simulateur - Comment devenir indépendant ?{% endblock %}

{% block body %}
	<div class="container">
		<h1>Admin</h1>
	</div>
{% endblock %}
