{% extends 'base.html.twig' %}

{% block title %}Edit ProfessionalMonthlySales{% endblock %}

{% block body %}
    <h1>Edit ProfessionalMonthlySales</h1>

    {{ include('professional_monthly_sales/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_professional_monthly_sales_index') }}">back to list</a>

    {{ include('professional_monthly_sales/_delete_form.html.twig') }}
{% endblock %}
