@mixin button-base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    line-height: 1.2;
    transition: all 0.25s ease-in-out;
    padding: 1rem 2.4rem;
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;

    &.btn-s {
        padding: 0.67rem 1.93rem;
        font-size: 1.4rem;
    }

    &.btn-l {
        padding: 1.1rem 2.9rem;
        font-size: 1.8rem;
    }

    &.btn-xl {
        padding: 0.75rem 1.8rem;
        min-width: 31.7rem;
    }

    &.btn-cancel {
        cursor: text;
        user-select: text;
    }

    &.btn-w100 {
        width: 100%;
    }
}

@mixin button-state($bg-color, $text-color, $border-color, $bg-hover-color, $bg-active-color, $text-hover-color, $text-active-color, $border-hover-color, $border-active-color, $bg-disabled-color, $text-disabled-color, $border-disabled-color) {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;

    &:hover {
        background-color: $bg-hover-color;
        color: $text-hover-color;
        border-color: $border-hover-color;
        text-decoration: none;
    }

    &:active {
        background-color: $bg-active-color;
        color: $text-active-color;
        border-color: $border-active-color;
    }

    &:disabled {
        background-color: $bg-disabled-color;
        color: $text-disabled-color;
        border-color: $border-disabled-color;
        opacity: 0.7;
        cursor: default;
    }
}

.btn-primary {
    @include button-base;
    @include button-state($primary, $white, $primary, $primary-hover, $primary-active, $white, $white, $primary-hover, $primary-active, $disabled, $white, $disabled);

    &.btn-success {
        @include button-state($success, $white, $success, $success-hover, $success-active, $white, $white, $success-hover, $success-active, $disabled, $white, $disabled);
    }

    &.btn-danger {
        @include button-state($danger, $white, $danger, $danger-hover, $danger-active, $white, $white, $danger-hover, $danger-active, $disabled, $white, $disabled);
    }
}

.btn-secondary {
    @include button-base;
    @include button-state($white, $primary, $primary, $white, $white, $primary-hover, $primary-active, $primary-hover, $primary-active, $white, $disabled, $disabled);

    &.btn-success {
        @include button-state($white, $success, $success, $white, $white, $success-hover, $success-active, $success-hover, $success-active, $white, $disabled, $disabled);
    }

    &.btn-danger {
        @include button-state($white, $success, $danger, $white, $white, $success-hover, $success-active, $success-hover, $success-active, $white, $disabled, $disabled);
    }
}

.btn-tertiary {
    @include button-base;
    @include button-state($transparent, $primary, $transparent, $transparent, $transparent, $primary-hover, $primary-active, $transparent, $transparent, $transparent, $disabled, $transparent);

    &.btn-s {
        padding: 0.67rem 1.93rem;
        font-size: 1.1rem
    }

    &.btn-success {
        @include button-state($transparent, $success, $transparent, $transparent, $transparent, $success-hover, $success-active, $transparent, $transparent, $transparent, $disabled, $transparent);
    }

    &.btn-danger {
        @include button-state($transparent, $success, $transparent, $transparent, $transparent, $success-hover, $success-active, $transparent, $transparent, $transparent, $disabled, $transparent);
    }
}

.btn-tertiary,
.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary:disabled {
    text-decoration: underline;
}

.btn-icon {
    margin-right: 0.5rem;
}

.btn-financial-value {
    position: relative;
    margin-left: 1.98rem;

    .btn-icon {
        position: absolute;
        top: -0.2rem;
        left: -2.3rem;
        font-size: 1.5rem;
    }
}

.btn-danger {
    .btn-icon {
        top: -0.1rem;
    }
}

.btn-l.btn-fv {
    padding: 0.7rem 2.1rem;

    .btn-financial-value {
        margin-right: 0.15rem;
        font-size: 1.5rem;
        margin-left: 0;
    }

    .btn-financial-currency {
        font-size: 1.4rem;
        position: relative;
        top: -0.06rem;
    }

    .btn-financial-period {
        font-size: 1rem;
        margin-left: 0.6rem;
        position: relative;
        top: -0.35rem;
        margin-right: 1.2rem;
    }

    .btn-arrow {
        position: absolute;
        right: 0.8rem;
        top: 0.45rem;

        svg {
            width: 1.2rem;
            height: 1.2rem;
            fill: #FFFFFF;
        }
    }
}

.btn-xl {
    position: relative;

    .btn-financial-value {
        position: initial;
        font-weight: bold;
        margin-right: 0.25rem;
        font-size: 3.1rem;
        margin-left: 2.98rem;

        .btn-icon {
            top: 0.8rem;
            left: 1.8rem;
            font-size: 2.8rem;
        }

    }

    &.btn-danger {
        .btn-icon {
            top: 0.9rem;
        }
    }

    .btn-financial-currency {
        font-weight: bold;
        font-size: 1.8rem;
        position: relative;
        top: -0.48rem;
    }

    .btn-financial-period {
        font-size: 1rem;
        margin-left: 0.6rem;
        position: relative;
        top: -0.8rem;
        margin-right: 4rem;
    }

    .btn-arrow {
        position: absolute;
        right: 0.8rem;
        top: 1.3rem;

        svg {
            width: 2.7rem;
            height: 2.6rem;
            fill: #FFFFFF;
        }
    }
}

.btn-delete {
    display: inline;
    cursor: pointer;
    width: 2.1rem;
    height: 2.1rem;
    background: none;
    border: 0.1rem solid #e8e8e8;
    position: relative;
    border-radius: 50%;
    transition: all 0.35s;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 1.1rem;
        height: 0.1rem;
        background-color: $gray-dark;
        top: 48.5%;
        left: 51.78%;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(135deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-135deg);
    }

    &:hover {
        border: 0.1rem solid $blue-light-2;

        &::before,
        &::after {
            background-color: $primary;
        }
    }
}

.btn-admin {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 999;
    box-shadow: $box-shadow-m;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 700px) {
        font-size: 1.3rem;
        padding: 0.9rem 1.7rem;
    }
}