body {
    font-size: 1.1rem;
    line-height: 1.2;
    min-height: 100vh;

    background-color: $gray-light;

    &.body-layout-bicolor {
        background-color: $transparent;

        main {
            position: relative;
        }

        @media (min-width: $desktop-minwidth) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 40.7rem;
                background-color: $gray-light;
                z-index: -1;
            }
        }
    }

    &.overflow-hidden {
        overflow: hidden;
    }

    >div {
        overflow: hidden;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $black;
    }

    main {
        overflow: hidden;
        margin: auto;
        margin-top: 0.7rem;
        min-height: calc(100vh - 20.39rem);

        @media (min-width: $desktop-minwidth) {
            overflow: visible;
        }

        &.layout-bicolor {
            margin-top: 0;

            @media (min-width: $desktop-minwidth) {
                max-width: 94.4rem;
                padding-top: 2.9rem;
            }
        }
    }

    .footer {
        background-color: $white;
        box-shadow: 3px 3px 16px #00000029;
        font-size: 1.3rem;
        width: 100%;
        height: 9.9rem;
        text-align: center;
        padding: 2.4rem;
        padding-top: 2.5rem;
        line-height: 1.3;

        @media (min-width: 470px) {
            padding: 2.4rem 8.5rem;
        }

        @media (min-width: 760px) {
            padding: 2.4rem 27vw;
        }

        @media (min-width: 900px) {
            padding: 2.4rem 0;
        }

        @media (min-width: $desktop-minwidth) {
            padding-top: 5rem;
            font-size: 1.4rem;
            height: 11.3rem;
        }


        span:first-child {
            display: block;

            @media (min-width: $desktop-minwidth) {
                display: inline-block;
            }
        }

        span.sepa {
            display: none;

            @media (min-width: $desktop-minwidth) {
                display: inline-block;
            }
        }

        a {
            text-decoration: underline;
        }
    }

    .is-loading {
        position: relative;
        color: transparent !important;

        >* {
            opacity: 0;
        }

        &::before {
            content: '\00a0';
            display: block;
            position: absolute;
            top: 27.5%;
            left: 10%;
            height: 45%;
            width: 30%;
            border-radius: 0.5rem;
            animation-duration: 2.2s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: shimmer;
            animation-timing-function: linear;
            background: linear-gradient(to right, #ebebeb 8%, #f1f1f1 18%, #ebebeb 33%);
            background-size: 1200px 100%;
        }

        &.is-l-right::before {
            left: auto;
            right: 10%;
        }

        &.is-l-5::before {
            width: 5%;
        }

        &.is-l-10::before {
            width: 10%;
        }

        &.is-l-15::before {
            width: 15%;
        }

        &.is-l-20::before {
            width: 20%;
        }

        &.is-l-25::before {
            width: 25%;
        }

        &.is-l-30::before {
            width: 30%;
        }

        &.is-l-35::before {
            width: 35%;
        }

        &.is-l-40::before {
            width: 40%;
        }

        &.is-l-45::before {
            width: 45%;
        }

        &.is-l-50::before {
            width: 50%;
        }

        &.is-l-55::before {
            width: 55%;
        }

        &.is-l-60::before {
            width: 60%;
        }

        &.is-l-65::before {
            width: 65%;
        }

        &.is-l-70::before {
            width: 70%;
        }

        &.is-l-75::before {
            width: 75%;
        }

        &.is-l-80::before {
            width: 80%;
        }

        &.is-l-85::before {
            width: 85%;
        }

        &.is-l-90::before {
            width: 90%;
        }

        &.is-l-95::before {
            width: 95%;
        }

        &.is-l-100::before {
            width: 100%;
        }

        &.is-l-www {
            &.btn-primary {
                background-color: #C7CBD5;
                color: #FFFFFF;
                border-color: #C7CBD5;
                opacity: 0.7;
                cursor: default;
            }
        }
    }

    @keyframes shimmer {
        0% {
            background-position: -100% 0;
        }

        100% {
            background-position: 100% 0;
        }
    }

    .form-page form {
        max-width: 30rem;
        width: 100%;
        margin: auto;
        margin-top: 3rem;
    }

    .title {
        font-size: $global-title-0-font-size-mobile;
        margin: 0;
        margin-bottom: 0.5rem;
        font-weight: bold;

        @media (min-width: $desktop-minwidth) {
            font-size: $global-title-0-font-size-desktop;
            margin-bottom: 2rem;
        }
    }

    .title-1 {
        font-size: $global-title-1-font-size-mobile;
        margin: 0;
        margin-bottom: 0.5rem;

        &.hidden-mobile {
            display: none;

            @media (min-width: $desktop-minwidth) {
                display: block;
            }
        }

        @media (min-width: $desktop-minwidth) {
            font-size: $global-title-1-font-size-desktop;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    .description-1 {
        font-size: $global-description-1-font-size-mobile;
        margin: 0;
        max-width: 35.3rem;

        @media (min-width: $desktop-minwidth) {
            font-size: $global-description-1-font-size-desktop;
        }
    }

    .title-description-zone {
        background-color: $white;
        padding: 1.5rem 2rem;

        @media (min-width: 500px) {
            background-color: $transparent;
            border: none;
            padding: 1.5rem 2.6rem;
        }

        @media (min-width: $desktop-minwidth) {
            padding: 0;
        }
    }

    .title-description-zone.n-pb {
        padding-bottom: 1rem;
        padding-top: 3rem;
        color: $primary;

        @media (min-width: 500px) {
            max-width: initial;
            padding: 1.9rem 2rem;
            padding-bottom: 1rem;
        }

        @media (min-width: $desktop-minwidth) {
            color: $black;
        }
    }

    .title-description-zone+.bloc-zone {
        padding-top: 0;
    }

    .bloc-zone {
        background-color: $white;
        padding: 1.5rem 2rem;
        font-size: 1.4rem;

        @media (min-width: $desktop-minwidth) {
            padding: 1.5rem 2rem;
            border: 1px solid $gray-light;
            border-radius: 0.5rem;
        }

        .sub-title {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        p:not(.sub-title),
        p:not(.sub-title)+ul {
            margin-top: 0;
            margin-bottom: 3.5rem;
        }

        p:not(.sub-title).n-mb {
            margin-bottom: 0.5rem;
        }

        ul {
            list-style: disc;
            padding-left: 2.5rem;
        }
    }
}