header {
    background-color: $primary;
    display: flex;
    min-height: 15rem;
    justify-content: center;

    div:first-child {
        display: flex;
        flex-direction: column;
        padding: 2.9rem 2rem;
        max-width: 33rem;

        .home-title {
            color: $white;
            margin: 0;
            font-weight: bold;
            font-size: 1.7rem;
            line-height: 1.1;
            width: 93%;
            margin-bottom: 1rem;
        }

        .home-objectives {
            color: $white;
            margin: 0;
            font-size: 1.1rem;
            line-height: 1.2;
            padding-left: 1.2rem;

            li {
                margin-bottom: 0.1rem;

                &::before {
                    content: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 28 18.4' style='enable-background:new 0 0 28 18.4;' xml:space='preserve' fill='%23C0C0C0'%3E%3Cpath d='M28,0c-7.8,5.3-12,12.8-14.3,17.6c-0.5,1-1.9,1.1-2.4,0.1C6.9,9.9,0,6.3,0,6.3c7.3,0,10.4,3.2,12.4,5.3 C15.6,5.3,23.9,1.1,28,0z'/%3E%3C/svg%3E%0A");
                    display: inline-block;
                    width: 1.1em;
                    margin-left: -1em;
                    margin-right: 0.4rem;
                }
            }
        }

    }

    figure {
        margin: 0;
        width: 100%;
        max-width: 15.9rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.home-main {
    display: flex;
    flex-direction: column;

    .home-main-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 5.5rem;

        .home-main-header-salary {
            display: flex;
            flex-direction: column;
            padding: 2.5rem 2rem;
            padding-bottom: 0.7rem;
            max-width: 49rem;
            margin: auto;

            .salary-section {
                margin-bottom: 4.4rem;

                .salary-section-title {
                    font-size: 2rem;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: 0.8rem;
                }

                .salary-input {
                    background-color: $gray-light;
                    border-radius: 0.5rem;
                    padding: 1.5rem;
                    display: flex;
                    flex-wrap: wrap;
                    padding-right: 2.4rem;
                    padding-bottom: 2rem;
                    margin-bottom: 0.4rem;

                    label {
                        margin-bottom: 1rem;
                        width: 100%;
                        max-width: 61%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .mensual-salary {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-left: 1.5rem;

                        .btn-primary {
                            margin-bottom: 0.8rem;
                            min-width: 15.4rem;
                        }

                        .salary-controls {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: relative;
                            width: 100%;

                            button {
                                position: absolute;
                                top: -1px;
                                right: -18px;
                                width: 0rem;
                                height: 1rem;
                                font-size: 1.2rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 6px;
                                background-color: $transparent;
                                border: 1px solid $gray-light;
                                color: $gray-light;
                                margin-left: 0.2rem;

                                &:first-child {
                                    font-size: 2rem;
                                    margin-right: 0.2rem;
                                    margin-left: 0;
                                    right: auto;
                                    left: -18px;
                                }
                            }

                            input[type="range"] {
                                -webkit-appearance: none;
                                width: 100%;
                                height: 8px;
                                background: transparent;
                            }

                            input[type="range"]::-webkit-slider-runnable-track {
                                width: 100%;
                                height: 8px;
                                cursor: pointer;
                                background: #ccd9f9;
                                border-radius: 5px;
                            }

                            input[type="range"]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                height: 15px;
                                width: 15px;
                                background: $primary;
                                cursor: pointer;
                                border-radius: 50%;
                                margin-top: -4px;
                            }

                            input[type="range"]::-moz-range-track {
                                width: 100%;
                                height: 8px;
                                cursor: pointer;
                                background: #ccd9f9;
                                border-radius: 5px;
                            }

                            input[type="range"]::-moz-range-thumb {
                                height: 15px;
                                width: 15px;
                                background: $primary;
                                border: none;
                                cursor: pointer;
                                border-radius: 50%;
                            }

                            input[type="range"]::-ms-track {
                                width: 100%;
                                height: 8px;
                                cursor: pointer;
                                background: transparent;
                                border-color: transparent;
                                color: transparent;
                            }

                            input[type="range"]::-ms-fill-lower {
                                background: #ccd9f9;
                                border-radius: 5px;
                            }

                            input[type="range"]::-ms-fill-upper {
                                background: #ccd9f9;
                                border-radius: 5px;
                            }

                            input[type="range"]::-ms-thumb {
                                height: 14px;
                                width: 14px;
                                background: $primary;
                                cursor: pointer;
                                border-radius: 50%;
                                margin-top: 0;
                            }

                            input[type="range"]:focus::-webkit-slider-runnable-track {
                                background: #b9ccfb;
                            }

                            input[type="range"]:active::-webkit-slider-runnable-track {
                                background: #b9ccfb;
                            }
                        }
                    }

                    .annual-salary {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        font-size: 1.4rem;
                        flex-grow: 1;

                        .salary-info {
                            font-size: 1.1rem;
                        }
                    }
                }

                .personal-expenses {
                    margin-bottom: 0.5rem;
                    padding-left: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .btn-tertiary.btn-s {
                        font-size: 1.4rem;
                        color: $black;
                    }
                }

                .personal-balance {
                    padding-left: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

            }
        }

        section[aria-labelledby="activity-profitability"] {
            @media screen and (min-width: 500px) {

                #activity-profitability,
                >p,
                .btn-primary {
                    max-width: 43.6rem;
                    margin-right: auto !important;
                    margin-left: auto !important;
                    display: flex;
                    transform: translateX(0.5rem);
                }
            }

            #activity-profitability,
            >p,
            .btn-primary {
                margin: 0;
                margin-left: 2rem;
                margin-right: 2rem;
            }

            #activity-profitability {
                margin-bottom: 0.3rem;
            }

            >p {
                margin-bottom: 1.1rem;
            }

            .btn-primary.btn-xl {
                width: calc(100% - 4rem);
            }

            .table table tr td:last-child,
            .table table tfoot tr th:last-child {
                display: none;
            }

            section[aria-labelledby="profits-view"],
            section[aria-labelledby="charges-view"] {
                padding-bottom: 0;

                table {
                    tr {
                        td:first-child {
                            color: $black;
                        }
                    }
                }
            }


            section[aria-labelledby="profits-view"] {
                figure {
                    margin-bottom: 0;
                }
            }

            section[aria-labelledby="charges-view"] {
                padding-top: 1.3rem;

                figure {
                    margin-bottom: 1.7rem;
                }

            }

            section[aria-labelledby="balance-future-activity"] {
                padding: 0;
                margin: 0;
                margin-left: 1.4rem;
                margin-right: 1.4rem;

                @media screen and (min-width: 500px) {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }

                .btn-primary {
                    margin-right: 0;
                    margin-left: 1rem;
                }

                &.balance-section>div:first-child .balance-section-description {
                    max-width: 100%;
                    color: $gray-dark;
                    margin-left: 0.5rem;
                }
            }

        }
    }

    .home-description {
        font-size: 1.4rem;
        text-align: center;
        margin: 1.5rem;
        padding: 1.7rem 1.6rem;
        border: 1px solid $gray-medium;
        border-radius: 0.5rem;
        line-height: 1.1;

        h2,
        h3 {
            font-size: 1.4rem;
            margin: 0;
            font-weight: normal;
        }

        h2 {
            margin-bottom: 1.5rem;
        }

        strong,
        strong em {
            font-weight: bold;
        }

        em,
        em strong {
            font-style: normal;
            font-weight: bold;
            color: $green;
        }
    }

    .home-detailed-description {
        font-size: 1.4rem;
        text-align: center;
        margin: 1.6rem;
        margin-bottom: 3rem;

        strong,
        strong em {
            font-weight: bold;
        }

        em,
        em strong {
            font-style: normal;
            font-weight: bold;
            color: $green;
        }

        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    section[aria-labelledby="start-simulation"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;

        .btn-primary {
            margin-bottom: 1.5rem;
        }

        ul {
            margin: 0;
            font-size: 1.4rem;
            line-height: 1.2;
            padding-left: 4.6rem;
            margin: 0.7rem 1.5rem;

            li {
                margin-bottom: 0.1rem;
                position: relative;
                line-height: 1.1;
                margin-bottom: 1.5rem;

                &::before {
                    content: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 7.5 7.5' style='enable-background:new 0 0 7.5 7.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2345B27B;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='6.4,0 2.7,5.3 1,3.7 0,4.6 2.8,7.4 2.9,7.5 7.4,1 7.5,0.9 '/%3E%3C/svg%3E%0A");
                    position: absolute;
                    top: 0.3rem;
                    left: -1.7rem;
                    display: inline-block;
                    width: 1.3em;
                    margin-left: -1em;
                    margin-right: 0.4rem;
                }
            }

        }

        >p {
            font-size: 1.4rem;
            text-align: center;
            margin: 1.6rem;
        }
    }

    .home-description,
    .home-detailed-description,
    section[aria-labelledby="start-simulation"] {
        max-width: 45.3rem;
        margin-right: auto;
        margin-left: auto;
    }
}