.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray-light;
    position: relative;
    z-index: 1000;
    min-height: 5.6rem;
    transition: 0.3s;
    padding-top: 1.2rem;
    flex-wrap: wrap;
    max-width: 125.5rem;
    margin: auto;

    @media (min-width: $desktop-minwidth) {
        min-height: 9.9rem;
        background-color: $white;
        flex-wrap: nowrap;
        padding-top: 0;
    }
}

.navbar>* {
    order: 1;
}

.navbar-burger-icon {
    position: relative;
    top: 0.089rem;
    width: 2.1rem;
    height: 1.5rem;
    margin-left: 1.7rem;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @media (min-width: $desktop-minwidth) {
        width: 2.6rem;
        height: 1.6rem;
        margin-left: 2.9rem;
    }

    @media (min-width: 1060px) {
        margin-left: 4.9rem;
    }

    span {
        display: block;
        position: absolute;
        height: 0.2rem;
        border-radius: 0.6rem;
        width: 100%;
        background: $primary;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 0.7rem;
        }

        &:nth-child(3) {
            top: 1.4rem;
        }
    }

    // &.open {
    //     span {
    //         width: 90%;

    //         &:nth-child(1) {
    //             top: 0.9rem;
    //             transform: rotate(135deg);
    //         }

    //         &:nth-child(2) {
    //             opacity: 0;
    //             left: 0.04rem;
    //             top: 0.8rem;
    //         }

    //         &:nth-child(3) {
    //             top: 0.9rem;
    //             transform: rotate(-135deg);
    //         }
    //     }
    // }
}

.navbar-site-infos {
    display: flex;
    align-items: center;
    max-width: 43.5rem;

    @media (min-width: $desktop-minwidth) {
        margin-left: 3.2rem;
        flex-grow: 1;
    }

    .navbar-site-logo {
        display: flex;
        position: relative;
        top: 0.1rem;

        img {
            height: 2.3rem;
        }

        @media (min-width: $desktop-minwidth) {
            top: 0;
        }
    }

    .navbar-site-description {
        display: none;
        color: $gray-dark;
        max-width: 235px;
        margin: 0;
        margin-left: 2.8rem;
        margin-left: 2.8rem;
        position: relative;
        top: 0.2rem;

        @media (min-width: $desktop-minwidth) {
            top: 0.05rem;
            display: block;
        }
    }
}

.navbar-links {
    order: 2;
    width: 100%;
    display: flex;
    list-style: none;
    background-color: $white;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    margin-top: 1.6rem;
    overflow: hidden;
    overflow-x: auto;

    @media (min-width: $desktop-minwidth) {
        order: 1;
        width: initial;
        margin-top: 0;
        justify-content: flex-start;
        flex-grow: 1;
    }

    >li {
        padding: 1.4418rem 0;
        margin: 0 0.6rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 10%;
            height: .2rem;
            transform: translateX(-50%);
            transition: .2s width ease-in-out, .2s background-color ease-in-out;
            background-color: transparent;
        }

        @media (min-width: $desktop-minwidth) {
            margin: 0 1.8rem;
        }

        >a {
            text-decoration: none;
            text-transform: uppercase;
            color: $gray-dark;
            white-space: nowrap;
            font-weight: 400;
            transition: 0.3s;

            @media (min-width: $desktop-minwidth) {
                font-size: 1.6rem;
            }
        }

        &:hover {
            >a {
                color: $primary;
            }
        }

        &.active {
            @keyframes underlineExpand {
                from {
                    width: 10%;
                    background-color: transparent;
                }

                to {
                    width: 100%;
                    background-color: $primary;
                }
            }

            &::after {
                width: 0%;
                background-color: $primary;
                animation: underlineExpand 0.25s 0.25s ease-in-out forwards;
            }

            >a {
                color: $primary;
                font-weight: 600;
            }
        }
    }
}

.navbar-user {
    position: relative;
    top: 0.1rem;
    margin-right: 1.7rem;
    left: -0.2rem;
    width: 2.5rem;
    height: 2.6rem;
    cursor: pointer;

    @media (min-width: $desktop-minwidth) {
        top: 0;
        margin-right: 3.3rem;
    }

    @media (min-width: 1060px) {
        margin-right: 5.3rem;
    }

    .navbar-user-icon {
        width: 100%;
        height: 100%;

        &.connected::before {
            content: $user-icon-mobile-connected;
            display: block;
            width: 100%;
            height: 100%;

            @media (min-width: $desktop-minwidth) {
                content: $user-icon-desktop-connected;
            }
        }

        &.connected::after {
            content: "";
            display: block;
            position: absolute;
            width: 0.72rem;
            height: 0.72rem;
            border: 1px solid white;
            background-color: #3DB24B;
            border-radius: 50%;
            right: 0.2rem;
            top: 0;
        }

        &.not-connected::before {
            content: $user-icon-mobile-not-connected;
            display: block;
            width: 100%;
            height: 100%;

            @media (min-width: $desktop-minwidth) {
                content: $user-icon-desktop-not-connected;
            }
        }
    }
}

.navbar-user-dropdown,
.burger-menu {
    display: none;
    position: absolute;
    background: $white;
    box-shadow: $box-shadow-s;
}

.navbar-user-dropdown {
    right: 0;
    top: 100%;
    min-width: 200px;
    z-index: 1010;
    transition: all 0.3s ease-in-out;
}

.burger-menu {
    display: flex;
    top: 0;
    left: -100%;
    width: 87vw;
    max-width: 38rem;
    height: 100%;
    z-index: 1001;
    transition: all 0.35s ease-in-out;
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 2.2rem 0;

    @media (min-width: $desktop-minwidth) {
        transition: all 0.5s ease-in-out;
    }

    .burger-menu-title {
        margin: 0;
        color: $primary;
        font-size: 2rem;
        font-weight: bold;
        padding-left: 2.6rem;
        margin-bottom: 3.5rem;
    }

    >ul {
        padding: 0 2.6rem;

        >li {
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 2.5rem;
            line-height: 1.1;

            &:first-child {
                position: relative;
                padding-bottom: 3rem;
                margin-bottom: 2.6rem;

                &::after {
                    content: "";
                    display: block;
                    width: calc(100% + 5.1rem);
                    height: 0.1rem;
                    background-color: $gray-3;
                    position: absolute;
                    bottom: 0rem;
                    left: -2.61rem;
                }

                ul {
                    border-left: none;
                    margin-top: 1.4rem;
                    margin-bottom: 1.4rem;
                    max-height: 22.4rem;
                    overflow: auto;
                    scrollbar-width: thin;

                    li {
                        list-style: inside;

                        a {}
                    }

                    // li::before {
                    //     content: "";
                    //     display: inline-block;
                    //     width: 4px;
                    //     height: 4px;
                    //     background-color: black;
                    //     border-radius: 50%;
                    //     margin-right: 0.6rem;
                    //     top: -1px;
                    //     position: relative;
                    // }
                }

                .btn-secondary.btn-s {
                    margin-left: 1.5rem;
                }
            }

            &.credits {
                a {
                    text-decoration: underline;
                }
            }

            ul {
                margin-top: 1.1rem;
                padding-left: 1.55rem;
                border-left: 0.1rem solid $gray-3;

                >li {
                    font-size: 1.4rem;
                    font-weight: normal;
                    margin-bottom: 0.5rem;
                }
            }
        }

        a {
            transition: 0.25s;

            &:hover {
                color: $primary;
            }
        }
    }

    &.open {
        left: 0;
    }

    .cross {
        position: absolute;
        right: -3.3rem;
        top: 1.4rem;
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;

        @media (min-width: $desktop-minwidth) {
            right: -3.8rem;
            top: 1.4rem;
            width: 2.3rem;
            height: 2.3rem;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.1rem;
            background-color: $white;
            top: 50%;
            left: 0;
        }

        &::before {
            transform: rotate(135deg);
        }

        &::after {
            transform: rotate(-135deg);
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(.3rem);
    backdrop-filter: blur(.3rem);
    z-index: 1000;
    transition: opacity 0.2s ease-in-out;

    &.open {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}