:root {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 62.5%;

    background-color: $white;
    color: $black;
    scroll-behavior: smooth;

    @-moz-document url-prefix() {
        * {
            scrollbar-width: thin;
            scrollbar-color: #f3f3f3 #fafafa;
        }
    }

    * {
        box-sizing: border-box;
    }
}

@media screen and (min-width: 500px) {
    ::-webkit-scrollbar {
        width: 0.95rem;
        height: 0.95rem;
        display: block;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #ebebec;
        border: 0.2rem solid $white;
        border-radius: 0.8rem;
    }
}