body {
    main {

        .title-description-zone,
        [aria-labelledby="personal-expenses"],
        [aria-labelledby="personal-incomes"],
        [aria-labelledby="salary-targets"],
        [aria-labelledby="products"],
        [aria-labelledby="balance-today"],
        [aria-labelledby="balance-tomorrow"] {
            @media (min-width: 500px) {
                max-width: 40rem;
                padding: 1.9rem 0.5rem;
                margin: auto;
                border-radius: 0.5rem;
                border: 1px solid $gray-medium;
            }

            &:last-child {
                @media (min-width: 500px) {
                    margin-bottom: 0.8rem;
                }
            }

            @media (min-width: $desktop-minwidth) {
                max-width: initial;
                padding: 2.3rem 1.5rem;
                padding-right: 1.8rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .title-description-zone {
            @media (min-width: 500px) {
                border: none;
            }
        }

        [aria-labelledby="personal-expenses"],
        [aria-labelledby="personal-incomes"],
        [aria-labelledby="salary-targets"],
        [aria-labelledby="balance-today"],
        [aria-labelledby="balance-tomorrow"] {
            @media (min-width: 500px) {
                margin-bottom: 1.5rem;
            }
        }

        @media (min-width: 500px) {
            &.personal-flows-page {
                [aria-labelledby="personal-expenses"] {
                    padding-bottom: 2rem;
                }
            }
        }

        @media (min-width: 900px) {
            &.personal-flows-page {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: normal;
                align-content: space-between;
                justify-content: center;

                .title-description-zone {
                    width: 100%;
                    min-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 1rem;

                    .description-1 {
                        max-width: 43rem;
                    }
                }

                [aria-labelledby="personal-expenses"] {
                    margin: 0;
                    margin-right: 3rem;
                    margin-bottom: 3rem;
                }

                .personal-data {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }
            }
        }

        @media (min-width: $desktop-minwidth) {
            padding: 6.3rem 0;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: calc(100vh - 21.39rem);

            &.personal-flows-page {
                .title-description-zone {
                    margin-bottom: 1.2rem;
                }

                .title-1 {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .balance-section {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 1.5rem;
        padding-bottom: 3rem;

        &[aria-labelledby="balance-today"] {
            background-color: $white;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 200%;
                height: 100%;
                background-color: $white;
                top: 0;
                right: -200%;
            }

            @media (min-width: 500px) {
                &::after {
                    display: none;
                }
            }
        }

        &[aria-labelledby="balance-today"],
        &[aria-labelledby="balance-tomorrow"] {
            @media (min-width: 500px) {
                max-width: 40rem;
                padding: 1rem 2rem;
            }

            @media (min-width: $desktop-minwidth) {
                max-width: 41.2rem;
            }
        }

        &[aria-labelledby="balance-tomorrow"] {
            @media (min-width: 500px) {
                &:last-child {
                    margin-bottom: 3rem;
                }
            }
        }

        >div:first-child {
            text-align: right;
            margin-right: 1.1rem;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 100%;

            .balance-section-title {
                font-size: $global-balance-section-title-font-size-mobile;
                font-weight: bold;
                margin: 0;
                max-width: 87%;
                overflow: hidden;
                text-overflow: ellipsis;

                @media (min-width: $desktop-minwidth) {
                    font-size: $global-balance-section-title-font-size-desktop;
                    max-width: 100%;
                }
            }

            .balance-section-description {
                font-size: $global-balance-section-description-font-size-mobile;
                margin: 0;
                max-width: 87%;
                overflow: hidden;
                text-overflow: ellipsis;

                @media (min-width: $desktop-minwidth) {
                    font-size: $global-balance-section-description-font-size-desktop;
                    max-width: 100%;
                }
            }
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-backdrop-filter: blur(.3rem);
        backdrop-filter: blur(.3rem);
        z-index: 1000;
        transition: opacity 0.2s ease-in-out;
        padding: 0 2rem;

        .modal-content {
            background: $white;
            padding: 2.6rem 1.7rem;
            padding-bottom: 2.3rem;
            border-radius: 0.5rem;
            position: relative;
            width: 100%;
            max-width: 35.5rem;

            .cross {
                position: absolute;
                right: 1.2rem;
                top: -3.6rem;
                width: 1.8rem;
                height: 1.8rem;
                cursor: pointer;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0.1rem;
                    background-color: $white;
                    top: 50%;
                    left: 0;
                }

                &::before {
                    transform: rotate(135deg);
                }

                &::after {
                    transform: rotate(-135deg);
                }
            }

            .modal-title {
                font-size: 1.6rem;
                font-weight: bold;
                margin: 0;
                margin-bottom: 2.8rem;
            }

            form {
                display: flex;
                flex-direction: column;
            }

            .btn-primary {
                width: 100%;
                max-width: 25.8rem;
                margin: auto;
            }
        }
    }
}