<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KPSLJ5X7');</script>
        <!-- End Google Tag Manager -->

        <meta charset="UTF-8">
        <title>{% block title %}Envie de tout plaquer pour changer de job ? Change de vie et lance une activité rentable ! - Krizalid{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <meta name="description" content="{% block description %}Le premier simulateur de rentabilité d'entreprise en ligne gratuit ! Créé ton business plan avant de lancer ton activité{% endblock %}">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}"/>
        {% block canonical %}
            {# Default canonical link can be set here, or leave empty to be overridden by child templates #}
        {% endblock %}
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPSLJ5X7"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% block navbar %}
            {% include 'partial/_navbar.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% include 'partial/_footer.html.twig' %}
    </body>
</html>
