<div class="footer">
    <span>Fait avec ❤ à Lyon <span class="sepa">-</span></span> <a href="{{ path('app_legal_notices') }}">Mentions légales</a> - <a href="{{ path('app_protection_of_personal_data') }}">Protection des données personnelles</a> <span class="sepa">-</span> Service édité par <a href="https://www.linkedin.com/in/julien-clement-0a514319">Julien CLEMENT</a>
</div>