<div class="footer">
    Fait avec ❤ à Lyon - <a href="{{ path('app_legal_notices') }}">Mentions légales</a> - <a href="{{ path('app_protection_of_personal_data') }}">Protection des données personnelles</a> - Service édité par <a href="mailto:contact@julien-clement.com">Julien CLEMENT</a>
</div>