{% set krizalid_actions_partager_donnees = [
    {
        'svg': '<svg class="picto-twitter" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"/></svg>',
        'href': 'https://twitter.com/intent/tweet?text=' ~ krizalid_page_title ~ '&url=' ~ krizalid_page_url,
    },
    {
        'svg': '<svg class="picto-facebook" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">    <path d="M32,11h5c0.552,0,1-0.448,1-1V3.263c0-0.524-0.403-0.96-0.925-0.997C35.484,2.153,32.376,2,30.141,2C24,2,20,5.68,20,12.368 V19h-7c-0.552,0-1,0.448-1,1v7c0,0.552,0.448,1,1,1h7v19c0,0.552,0.448,1,1,1h7c0.552,0,1-0.448,1-1V28h7.222 c0.51,0,0.938-0.383,0.994-0.89l0.778-7C38.06,19.518,37.596,19,37,19h-8v-5C29,12.343,30.343,11,32,11z"/></svg>',
        'href': 'https://www.facebook.com/sharer/sharer.php?u=' ~ krizalid_page_url,
    },
    {
        'svg': '<svg class="picto-pinterest" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="32px" height="32px"><path d="M 16.09375 4 C 11.01675 4 6 7.3833281 6 12.861328 C 6 16.344328 7.9584844 18.324219 9.1464844 18.324219 C 9.6364844 18.324219 9.9199219 16.958266 9.9199219 16.572266 C 9.9199219 16.112266 8.7460938 15.131797 8.7460938 13.216797 C 8.7460938 9.2387969 11.774359 6.4199219 15.693359 6.4199219 C 19.063359 6.4199219 21.556641 8.3335625 21.556641 11.851562 C 21.556641 14.478563 20.501891 19.40625 17.087891 19.40625 C 15.855891 19.40625 14.802734 18.516234 14.802734 17.240234 C 14.802734 15.370234 16 13.558906 16 11.628906 C 16 8.3529063 11.462891 8.94725 11.462891 12.90625 C 11.462891 13.73725 11.5665 14.657063 11.9375 15.414062 C 11.2555 18.353063 10 23.037406 10 26.066406 C 10 27.001406 10.133656 27.921422 10.222656 28.857422 C 10.390656 29.045422 10.307453 29.025641 10.564453 28.931641 C 13.058453 25.517641 12.827078 24.544172 13.955078 20.076172 C 14.564078 21.234172 16.137766 21.857422 17.384766 21.857422 C 22.639766 21.857422 25 16.736141 25 12.119141 C 25 7.2061406 20.75475 4 16.09375 4 z"/></svg>',
        'href': 'https://www.pinterest.com/pin/create/link/?url=' ~ krizalid_page_url ~ '&media=' ~ krizalid_image_activity ~ '&description=' ~ krizalid_page_title,
    },
    {
        'svg': '<svg class="picto-linkedin" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">    <path d="M9,25H4V10h5V25z M6.501,8C5.118,8,4,6.879,4,5.499S5.12,3,6.501,3C7.879,3,9,4.121,9,5.499C9,6.879,7.879,8,6.501,8z M27,25h-4.807v-7.3c0-1.741-0.033-3.98-2.499-3.98c-2.503,0-2.888,1.896-2.888,3.854V25H12V9.989h4.614v2.051h0.065 c0.642-1.18,2.211-2.424,4.551-2.424c4.87,0,5.77,3.109,5.77,7.151C27,16.767,27,25,27,25z"/></svg>',
        'href': 'https://www.linkedin.com/sharing/share-offsite/?url=' ~ krizalid_page_url,
    },
    {
        'svg': '<svg class="picto-email" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 49.605469 0.21875 C 49.296875 -0.0234375 48.875 -0.0585938 48.527344 0.128906 L 0.527344 26.128906 C 0.179688 26.316406 -0.0234375 26.695313 0.015625 27.089844 C 0.0507813 27.484375 0.316406 27.820313 0.691406 27.941406 L 14.335938 32.394531 L 13.015625 45.902344 C 12.972656 46.332031 13.210938 46.738281 13.605469 46.90625 C 13.730469 46.964844 13.867188 46.992188 14 46.992188 C 14.277344 46.992188 14.550781 46.875 14.742188 46.65625 L 23.347656 36.933594 L 36.304688 49.707031 C 36.492188 49.890625 36.742188 49.992188 37 49.992188 C 37.089844 49.992188 37.179688 49.976563 37.269531 49.953125 C 37.609375 49.859375 37.875 49.585938 37.960938 49.242188 L 49.960938 1.242188 C 50.054688 0.859375 49.917969 0.457031 49.605469 0.21875 Z M 16.34375 32.210938 L 35.855469 16.433594 L 22.558594 34.84375 L 15.28125 43.058594 Z"/></svg>',
        'href': 'mailto:?subject=' ~ krizalid_page_title ~ '&body=' ~ krizalid_page_description ~ ' En savoir plus : ' ~ krizalid_page_url,
    },
] %}

<section aria-labelledby="share-social-simulation">
    <h4 id="share-social-simulation">Partager</h4>
    <ul>
        {% for action in krizalid_actions_partager_donnees %}
            <li>
                <a href="{{ action.href }}" target="_blank">
                {{ action.svg|raw }}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>

